<%= form_for @song do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :url %><br />
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :order_int %><br />
      <%= f.text_field :order_int %>
    </p>
    <p><%= f.submit "Update" %></p>
<% end %>
