<div class="post_body">
  A selection of our songs to stream, you can also grab our debut E.P. 'A Ticket Out' at our <%= link_to 'Bandcamp Page', "http://barcodechannel.bandcamp.com/album/a-ticket-out" %>
</div>

<% if can? :new, Song %>
    <%= link_to "New song", new_song_path %>
<% end %>
<% for song in @songs %>
  <div class="news_post">
    <div class="post_title">
      <h2><%=h link_to song.name, song %></h2>
      <% if can? :edit, song %>
          <%= link_to "|Edit|", edit_song_path(song) %>
      <% end %>
      <% if can? :delete, song %>
          <%= link_to '|Delete|', song, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
    <div class="post_body">
      <%= song.url.html_safe %>
    </div>
  </div>
<% end %>
