<div class="post_body">
    A collection of our current demos
</div>

<% if can? :new, Song %>
    <%= link_to "New song", new_song_path %>
<% end %>
<% for song in @songs %>
  <div class="news_post">
    <div class="post_title">
      <%=h song.name %>
      <% if can? :edit, song %>
          <%= link_to "|Edit|", edit_song_path(song) %>
      <% end %>
      <% if can? :delete, song %>
          <%= link_to '|Delete|', song, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
    <div class="post_body">
      <%= song.url.html_safe %>
    </div>
  </div>
<% end %>
