
<div class="news_post">
  <div class="post_title">
    <h2><%= link_to @song.name, @song %></h2>
  </div>

  <div class="post_body">
    <%= @song.url.html_safe %>
  </div>
</div>

  <% if can? :edit, @song %>
    <p>
      <strong>Order:</strong>
      <%= @song.order_int %>
    </p>
  <% end %>

<p>

  <% if can? :edit, @song %>
      <%= link_to "Edit", edit_song_path(@song) %> |
      <%= link_to "Destroy", @song, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", songs_path %>
</p>
