<div class="news_post">
  <div class="post_title">
    <h2>Hi </h2>
  </div>
  <div id="promo_txt" class="post_body">

    <p>
      We've been checking out your blog and you feature a lot of really good music. Since you seem to like independant/alternative music, we thought you might like to check us out:
    </p>
    <p>
      We are <b>Barcode Channel</b>. We are a post punk/indie rock 3-piece with a DIY ethic who write songs around angular guitar lines and programmed beats, drawing influence from artists such as <b>Radiohead</b>, <b>Foals</b>, <b>Bloc Party</b> and <b>Interpol</b>.
    </p>
    <p>
      We put out our debut E.P. <%= link_to "A Ticket Out", "http://barcodechannel.bandcamp.com/album/a-ticket-out?permalink" %> earlier this year, and judging by your blog, we think it might be the sort of thing you're into.
    </p>

    <div class="inset">
      <h4>Places you can listen to us</h4>
      <ul>
        <li><%= link_to "SoundCloud", "http://soundcloud.com/barcode-channel/sets" %></li>
        <li><%= link_to "BandCamp", "http://barcodechannel.bandcamp.com" %></li>
      </ul>
      <h4>Download MP3s</h4>
      <ul>
        <li><%= link_to "Feedback Loop", "http://dl.dropbox.com/u/2324263/CurrentMasters/A%20Ticket%20Out/1%20-%20Feedback%20Loop.mp3" %> (single track)</li>
        <li><%= link_to "Ticket Out", "http://dl.dropbox.com/u/2324263/Barcode%20Channel%20-%20A%20Ticket%20Out.zip" %> (6 track E.P.)</li>
      </ul>
                
      <h4>What people are saying about us</h4>
      <p>
        '<i>... a brilliant sound and an interesting sound ... </i>'<br/>
        <%= link_to "It's All Indie review of one of our gigs", 'http://its-all-indie.blogspot.com/2011/01/gig-review-ideals-haymakers-26th.html'%>.
      </p>
      <p>
        Our track <%= link_to "Feedback Loop", "http://soundcloud.com/barcode-channel/feedback-loop-1" %> featured as the lead track on their 6 track E.P. of upcoming bands inspired by <b>Foals</b>:<br/>
        <%= link_to "Foals - A Tribute Forever", 'http://its-all-indie.blogspot.com/2010/11/foals-tribute-forever.html'%>
      </p>

      <h4>More about us</h4>
      <p>
        We've got a full <b>biography/manifesto</b>, <b>news</b> and <b>photos</b> on our website, and more relevant links:
        <ul>
          <li><%= link_to "www.barcodechannel.com", 'http://barcodechannel.com' %></li>
        </ul>
      </p>
    </div>

    <p>
      Thanks for taking the time to listen, and keep up the good work with the blog!
    </p>
    <p>
      <b>Barcode Channel</b>
    </p>

  </div>

</div>
