<div class="news_post">
  <div class="post_title">
    <h2><%= link_to "<< Back to gallery ",photos_path %></h2>
  </div>
  <div class="post_body">
    <div id="photo_show">
      <%= image_tag @photo.image_url(:big).to_s %>
    </div>

    <p>
      <%=h @photo.notes %>
    </p>
    <% if can? :edit, @photo %>
      <%= link_to 'Edit', edit_photo_path(@photo) %> |
    <% end %>
    <% if can? :delete, @photo %>
      <%= link_to 'Delete', @photo, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
</div>
