<!DOCTYPE html>
<html>
<head>
  <title>Barcode Channel</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <%= image_tag 'bc_banner.png', :alt => 'Barcode Channel', :id=> 'banner_img' %>
    <nav class='main_nav'>
      <ul class='tabs'>
        <li class='active'><%= link_to "News", posts_path %></li>
        <li><%= link_to "Listen", songs_path %></li>
        <li><%= link_to "Images", '#' %></li>
        <li><%= link_to "About", '#' %></li>
      </ul>
    </nav>

    <div id="main-content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div  data-pjax-container>
        <%= yield %>
      </div>
    </div>
    <div id="side-nav">
      <h2>Other pages</h2>
      <ul id='ext-links'>
        <%= link_to '#' do %><li><span class='logo'><%= image_tag 'soundcloud.png' %></span><span>Soundcloud</span></li><% end %>
        <%= link_to '#' do %><li><span class='logo'><%= image_tag 'facebook.png' %></span><span>Facebook</span></li><% end %>
        <%= link_to '#' do %><li><span class='logo'><%= image_tag 'bandcamp.png' %></span><span>Bandcamp</span></li><% end %>
        <%= link_to '#' do %><li><span class='logo'><%= image_tag 'youtube.png' %></span><span>YouTube</span></li><% end %>
      </ul>
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 4,
          interval: 30000,
          width: 245,
          height: 300,
          theme: {
            shell: {
              background: '#85b931',
              color: '#ffffff'
            },
            tweets: {
              background: '#3e3d42',
              color: '#ffffff',
              links: '#85b931'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('barcodechannel').start();
      </script>
    </div>

  </div>

</body>
</html>
