<!DOCTYPE html>
<html>
<head>
  <title>Barcode Channel</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <%= image_tag 'bc_banner.png', :alt => 'Barcode Channel', :id=> 'banner_img' %>
    <nav class='main_nav'>
      <ul class='tabs'>
        <li class='active'><%= link_to "News", posts_path %></li>
        <li><%= link_to "Listen", songs_path %></li>
        <li><%= link_to "Images", '#' %></li>
        <li><%= link_to "About", '#' %></li>
      </ul>
    </nav>

    <div class="main-content" style="width:600px;float:left;overflow:hidden;">
      <%= yield %>
    </div>
    <div class="side_nav" style="width:300px;float:right; overflow:hidden;">
      side-nav
    </div>

  </div>

</body>
</html>
