<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Barcode Channel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20315709-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-remote data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to root_url, :class => 'brand' do %>
          BARCODE CHANNEL <small>></small>
        <% end %>
        <div class="nav-collapse">
          <ul id='navigation-bar' class="nav">
            <li class='active'><%= link_to "News", posts_path %></li>
            <li><%= link_to "Listen", 'http://barcodechannel.bandcamp.com' %></li>
            <li><%= link_to "About", '#about-box' %></li>
            <li><%= link_to "Contact", '#contact-box' %></li>
            <li><%= link_to "Links", '#links-box' %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class='container'>
    <h1 id='header-name'>BARCODE CHANNEL</h1>
    <div id='mission'>Post-punk guitars, laptop beats and a DIY ethic since 2009</div>

    <div id="main-content" data-pjax-container>
      <%= yield %>
    </div>
    <footer>
      <div id='the-left'>
        <div id='about-box'>
          <h4>About Us</h4>
          <p>Hi there. We are Barcode Channel, a 3-piece from Cambridge fusing straight up post-punk like LCD Soundsystem and Bloc Party with more electronic influences like SBTRKT and Radiohead's Kid A </p>
          <p>We work by combining angular guitars with a laptop for beats, samples and synths, working strictly DIY and taking on all the production and recording duties ourselves. While not being the easiest path (and having quite a learning curve!), it's key to shaping our sound. Coupled with drawing influences from a wide range of genres (from Rustie to Wu-Tang), we hope to create something a little different.</p>
        </div>
        <div id='contact-box'>
          <h4>Contact</h4>
          <p>Want to get hold of us? <a href="mailto:barcodechannel.com">barcodechannel@gmail.com</a></p>
        </div>
      </div>

      <div id='links-box'>
        <h4>Other pages</h4>
        <ul id='ext-links'>
          <%= link_to 'https://soundcloud.com/barcode-channel' do %><li><span class='logo'><%= image_tag 'soundcloud.png' %></span><span>Soundcloud</span></li><% end %>
          <%= link_to 'http://www.facebook.com/pages/Barcode-Channel/126967277330061' do %><li><span class='logo'><%= image_tag 'facebook.png' %></span><span>Facebook</span></li><% end %>
          <%= link_to 'http://barcodechannel.bandcamp.com' do %><li><span class='logo'><%= image_tag 'bandcamp.png' %></span><span>Bandcamp</span></li><% end %>
          <%= link_to 'http://www.youtube.com/user/BarcodeChannel?feature=watch' do %><li><span class='logo'><%= image_tag 'youtube.png' %></span><span>YouTube</span></li><% end %>
        </ul>
      </div>

    </footer>

  </div>

</body>
</html>
