<html>
  <head>
	<title>
		Barcode Channel
	</title>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<%= stylesheet_link_tag 'global', 'formtastic', 'formtastic_changes' %>
  </head>
  <body class="container">
	<div class="span-24 last page_frame">
            <div class="span-23 append-1 last header">
              <%= image_tag 'logo.png', :alt => 'Barcode Channel' %>
                BARCODE CHANNEL
            </div>
            <div class="span-24 last nav_panel">
              &nbsp;&nbsp;&nbsp;
              <%= link_to "HOME", posts_path, :class => "header_links" %> |
              <%= link_to "LISTEN", songs_path, :class => "header_links" %> |
              DOWNLOAD | IMAGES | ABOUT THE BAND 
            </div>
            <div class="span-19 ">
                <%= yield %>
            </div>
            <div class="span-5 last">
                <div class="nav_item bottom_rounded top_rounded">
                  <%= link_to "MEDIA PLAYER >>", media_player_path, :target => "_blank" %>
                </div>
            </div>
	</div>
  </body>
</html>
