<html>
<head>
  <title>
    Barcode Channel
  </title>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  <%= stylesheet_link_tag 'global', 'formtastic', 'formtastic_changes' %>
</head>
<body class="container">
<div class="span-24 last page_frame">
  <div class="span-23 append-1 last header">
    <%= image_tag 'logo.png', :alt => 'Barcode Channel' %>
    BARCODE CHANNEL
  </div>
  <div class="span-24 last nav_panel">
    <div class="left_offset">
      <%= link_to "HOME", posts_path, :class => "header_links" %> |
      <%= link_to "LISTEN", songs_path, :class => "header_links" %> |
      <%= link_to "IMAGES", images_path, :class => "header_links" %> |
      <%= link_to "ABOUT THE BAND", biography_path, :class => "header_links" %> |
      <% if current_user %>
          <%= link_to 'Logout, yeah?', logout_path, :class => "header_links"%>
      <% end %>
    </div>
  </div>
  <div class="span-18">
    <div  class="left_offset" style="color: green; float: none"><%= flash[:notice] %></div>
    <div  class="left_offset" style="background-color: yellow; float: none"><%= flash[:warning] %></div>
    <div  class="left_offset" style="background-color: red; float: none"><%= flash[:error] %></div>
    <div class="left_offset">
      <%= yield %>
    </div>
  </div>
  <div class="span-6 last">
    <div class="side_panel bottom_rounded, top_rounded">
      <div class="side_panel_title">Stuff</div>
      <div class="nav_item bottom_rounded top_rounded">
        <%= link_to "Current Recordings >>", songs_path %>
      </div>
      <div class="nav_item bottom_rounded top_rounded">
        <%= link_to "Facebook >>", "http://www.facebook.com/pages/Barcode-Channel/126967277330061", :target => "_blank" %>
      </div>
      <div class="nav_item bottom_rounded top_rounded">
        <%= link_to "Myspace >>", "http://myspace.com/barcodechannel", :target => "_blank" %>
      </div>
      <div class="nav_item bottom_rounded top_rounded">
        <%= link_to "Soundcloud >>", "http://soundcloud.com/barcode-channel", :target => "_blank" %>
      </div>
    </div>

    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
        new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 6000,
            width: 205,
            height: 300,
            theme: {
                shell: {
                    background: '#333333',
                    color: '#ffffff'
                },
                tweets: {
                    background: '#85b931',
                    color: '#ffffff',
                    links: '#000000'
                }
            },
            features: {
                scrollbar: false,
                loop: false,
                live: false,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
            }
        }).render().setUser('BarcodeChannel').start();
    </script>
  </div>
</div>
</body>
</html>
