<html>
<head>
  <title>
    Barcode Channel
  </title>
  <link rel="shortcut icon" href="favicon.ico" />
  <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <%= include_stylesheets :common, :media => 'all' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js' %>
  <%= include_javascripts :workspace %>
  <%= csrf_meta_tag %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20315709-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
  
</head>
<body class="container">
<div class="span-24 last page_frame">
  <div class="span-23 append-1 last header">
    <%= image_tag 'banner.png', :alt => 'Barcode Channel' %>
  </div>
  <div class="span-24 last nav_panel">
    <ul class="menu left_offset">
      <li><%= link_to "NEWS", posts_path %></li>
      <li><%= link_to "LISTEN", songs_path %></li>
      <li><%= link_to "IMAGES", photos_path %></li>
      <li><%= link_to "ABOUT THE BAND", biography_path %></li>
      <% if current_user %>
        <li><%= link_to 'Subscribers', subscribers_path %></li>
        <li><%= link_to 'Logout, yeah?', logout_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="span-18 main_content">
    <div style="color: green; float: none"><%= flash[:notice] %></div>
    <div style="background-color: yellow; float: none"><%= flash[:warning] %></div>
    <div style="background-color: red; float: none"><%= flash[:error] %></div>
    <div>
      <%= yield %>
    </div>
  </div>
  <div class="span-6 last">
    <div class="side_panel bottom_rounded, top_rounded">
      <h4>Stuff</h4>
      <ul class="side_nav">
        <li><%= link_to "Current Recordings >>", songs_path %></li>
        <li><%= link_to "Soundcloud >>", "http://soundcloud.com/barcode-channel", :target => "_blank" %></li>
        <li><%= link_to "Facebook >>", "http://www.facebook.com/pages/Barcode-Channel/126967277330061", :target => "_blank" %></li>
        <li><%= link_to "Bandcamp >>", "http://barcodechannel.bandcamp.com/", :target => "_blank" %></li>
        <li><%= link_to "YouTube >>", "http://www.youtube.com/user/BarcodeChannel", :target => "_blank" %></li>
      </ul>
    </div>

    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
        new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 6000,
            width: 205,
            height: 300,
            theme: {
                shell: {
                    background: '#333333',
                    color: '#ffffff'
                },
                tweets: {
                    background: '#85b931',
                    color: '#ffffff',
                    links: '#000000'
                }
            },
            features: {
                scrollbar: false,
                loop: false,
                live: false,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
            }
        }).render().setUser('BarcodeChannel').start();
    </script>
  </div>
</div>
</body>
</html>
